<div class="jumbotron">
  <h1 class="display-4">{{ 'items-list' | translateContent : recievedTranslate }}</h1>
</div>
<div class="container">
  <div class="input-group mb-3">
      <div class="input-group-append">
        <div class="input-group-text">
            <label for="hideItems">{{ 'hide-unavailable' | translateContent : recievedTranslate }}</label>
            <input id="hideItems" [(ngModel)]="removeItems" type="checkbox" >
        </div>
      </div>
      <input type="text" class="form-control" placeholder="{{'search-text' | translateContent: recievedTranslate }}" [(ngModel)]="searchFilter">
    </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr [ngClass]="{'bg-secondary': !item.available}" [ngStyle]="{'display' : item.available | availableItem: removeItems}" *ngFor="let item of items" (click)="onChangeItem(item)">-->
      <tr [ngClass]="{'bg-secondary': !item.available}" *ngFor="let item of items | displayFilter : removeItems : searchFilter" (click)="onChangeItem(item)">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency: item.currency }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.available }}</td>
      </tr>
    </tbody>
  </table>
</div>
