<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/">DevShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/welcome" routerLinkActive="active">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/items" routerLinkActive="active">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/cart" routerLinkActive="active">Cart<span class="badge badge-light ml-2">{{ cartTotal$ | async }}</span></a>
      </li>
    </ul>
  </div>
  <div class="dropdown right">
    <select class="form-control" id="selectLanguage" [(ngModel)]="selectedLanguage" (change)="onChangeLanguage()">
      <option *ngFor="let lang of languages" [ngValue]="lang.code">{{ lang.value }}</option>
    </select>
  </div>
</nav>
