<div class="jumbotron">
  <h1 class="display-4">Shopping Cart</h1>
</div>
<div class="container">
	<table id="cart" class="table table-hover table-condensed" *ngIf="cart.length > 0;else emptyCart">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart">
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-10">
              <h4 class="nomargin">{{ cartItem.item.name }}</h4>
              <p>{{ cartItem.item.description }}</p>
            </div>
          </div>
        </td>
        <td data-th="Price">{{ cartItem.item.price | currency: cartItem.item.currency}}</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" [(ngModel)]="cartItem.quantity" value="{{ cartItem.quantity }}">
        </td>
        <td data-th="Subtotal" class="text-center">{{ cartItem.quantity * cartItem.item.price | currency: cartItem.item.currency }}</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm" (click)="refreshCart(cartItem, cartItem.quantity)">Refresh</button>
          <button class="btn btn-danger btn-sm" (click)="deleteFromCart(cartItem)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="hidden-xs"></td>
        <td class="h6 text-center"><strong>Total {{ getTotal() | currency : 'JPY'}}</strong></td>
      </tr>
    </tfoot>
  </table>
  <ng-template #emptyCart>
      <h1 class="display-6">Empyt Cart</h1>
  </ng-template>
</div>
