<div class="container" *ngIf="selectedItem != undefined">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Comic_image_missing.svg" alt="Card image cap">
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ selectedItem.name }}</h5>
        <p class="card-text">{{ selectedItem.description }}</p>
        <p class="card-text"><small class="text-muted">{{ selectedItem.price | currency: selectedItem.currency }}</small></p>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" [disabled]="checkItem(selectedItem.id)" (click)="addToCart(selectedItem)" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
    <button type="button" [disabled]="!checkItem(selectedItem.id)" (click)="deleteFromCart(selectedItem.id)" class="btn btn-secondary btn-lg btn-block">Delete</button>
  </div>
</div>
