<div class="container" *ngIf="selectedItem != undefined">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      {{ selectedItem.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      {{ selectedItem.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      {{ selectedItem.price | currency: selectedItem.currency }}
    </div>
  </div>
  <div class="row">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
  </div>
</div>
